<div class="row">
    <div class="col-sm-9">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Przerwa</th>
                    <th ng-repeat="place in places"> {{ place.name }}</th>
                </tr>
            </thead>
            <tbody ng-repeat="day in daysOfWeek">
                <tr>
                    <th class="text-center" colspan="{{ places.length + 1 }}">{{ day }}</th>
                </tr>
                <tr ng-repeat="(breakIndex, breakTime) in breakTimes">
                    <td>
                        {{ breakIndex }} [{{ breakTime }} min]
                    </td>
                    <td ng-repeat="place in places">
                        <p class="text-info">{{ getPerson(place.name, day, breakIndex).fullName }}
                            <i ng-click="showDetails = ! showDetails" class="glyphicon glyphicon-pencil"></i>
                            <i ng-click="updateTimeTable(breakIndex, breakTime, day, place.name)" class="glyphicon glyphicon-remove"></i>
                        </p>
                        <div class="procedure-details" ng-show="showDetails">
                            <select ng-options="person.fullName for person in people" ng-model="selected" data-ng-change="updateTimeTable(breakIndex, breakTime, day, place.name, selected)"></select>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-3">
        <div  style="position: fixed">
            <div class="btn-group">
                <button class="btn btn-success" data-ng-click="saveToServer($event)">Zapisz</button>
                <button class="btn btn-warning" data-ng-click="loadFromServer($event)">Wczytaj</button>
            </div>
            <ul class="list-unstyled">
                <li ng-repeat="person in people">
                    {{ person.firstName }} {{ person.lastName }} [ {{ person.totalTime }} min]
                </li>
            </ul>
        </div>
    </div>
</div>